body {
  background-color: #efedeb;
}

.fixed-top .navbar {
  background-color: #59bc28;
  padding: 0px;
  --bs-navbar-toggler-border-color: #efedeb;
}
.fixed-top .navbar .container-fluid .navbar-brand {
  padding: 0px;
}
.fixed-top .navbar .container-fluid .navbar-brand img {
  width: 90px;
  height: 70px;
  padding-bottom: 3px;
}
.fixed-top .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.fixed-top .navbar .container-fluid .navbar-toggler:focus {
  box-shadow: 0.2px 0.2px 0.2px white;
}
.fixed-top .navbar .container-fluid .offcanvas {
  background-color: #59bc28;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
  color: #efedeb;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body {
  margin: 0px;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav {
  font-weight: bold;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: white;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu[data-bs-popper] {
  top: 94%;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu {
  background-color: #59bc28;
  margin-top: 0;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item {
  background-color: #59bc28;
  color: white;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #40a20f;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .a:hover {
  background-color: #40a20f;
}
.fixed-top .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .b:hover {
  background-color: #40a20f;
}
.fixed-top .navbar .navbar-block {
  display: block;
  animation: slide-down 0.5s ease;
}
.fixed-top .navbar .navbar-none {
  display: none;
  animation: slide-down 0.5s ease;
}
@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fixed-top .progress-container {
  width: 100%;
  height: 8px;
  background: white 1;
  display: flex;
  align-items: center;
  position: relative;
}
.fixed-top .progress-container .progress-bar {
  height: 8px;
  background: rgb(248, 47, 47);
  width: 0%;
}
.fixed-top .progress-container img {
  width: 22px;
  height: 22px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-fade-in {
  animation: fade-in ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
}

.scroll-btn {
  border-radius: 50%;
  padding: 15px;
  z-index: 99;
  position: fixed;
  margin-left: calc(100vw - 90px);
  margin-top: calc(100vh - 170px);
}
.scroll-btn .fa-solid {
  color: #ffffff;
  font-size: 1.7rem;
}

.image-title {
  background-color: #007336;
  background-position: 50%;
  margin-top: 90px;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 250px;
  display: flex;
}
.image-title .headline {
  text-align: center;
  align-self: center;
  font-size: 80px;
  color: white;
  font-weight: 500;
  width: 100%;
}

.vision {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 32px;
  align-items: center;
}
.vision p {
  text-align: center;
  font-size: clamp(1.25rem, 2.5vw, 2rem);
  font-weight: 500;
}

.buttons-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.all-tables-wrapper .fruits {
  display: none;
}
.all-tables-wrapper .other {
  display: none;
}
.all-tables-wrapper .table-wrapper {
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0;
  overflow: auto;
}
.all-tables-wrapper .table-wrapper table {
  padding: 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #59bc28;
  border: 1px solid #59bc28;
}
.all-tables-wrapper .table-wrapper table tbody {
  margin: 0;
  padding: 0;
}
.all-tables-wrapper .table-wrapper table tbody tr {
  color: #333;
  margin: 0;
  padding: 0;
  border: 1px solid #59bc28;
}
.all-tables-wrapper .table-wrapper table tbody tr input[type=date] {
  background-color: #efedeb;
  color: #007336;
  font-weight: 600;
}
.all-tables-wrapper .table-wrapper table tbody tr .markets {
  margin: 0;
  color: #efedeb;
  padding: 1.8rem 0.6rem;
  background-color: #59bc28;
  border: 1px solid #007336;
  text-align: center;
}
.all-tables-wrapper .table-wrapper table tbody tr .date {
  text-align: center;
  padding: 1.8rem 0.8rem;
  background-color: #007336;
  border: 1px solid #59bc28;
}
.all-tables-wrapper .table-wrapper table tbody tr td {
  margin: 0;
  padding: 0.2rem 1rem;
  color: #007336;
  font-weight: 600;
  background-color: #efedeb;
  border: 1px solid #007336;
}

.footer .footer-wrapper .contact {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
.footer .footer-wrapper .links .nav-item .nav-link {
  color: white;
}
.footer .footer-wrapper .credits {
  color: white;
}
.footer .footer-wrapper .credits .navbar-brand {
  padding: 0px;
}
.footer .footer-wrapper .credits .navbar-brand img {
  width: 50px;
  height: 50px;
  padding-bottom: 1px;
}

@media (max-width: 1255px) {
  .all-tables-wrapper .table-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 5px;
  }
  .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu {
    background-color: #40a20f;
  }
  .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item {
    background-color: #40a20f;
  }
  .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #2b7008;
  }
  .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .b:hover {
    background-color: #59bc28;
  }
  .image-title {
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }
  .vision {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .image-title .headline {
    font-size: 60px;
  }
}
@media (max-width: 360px) {
  .image-title .headline {
    font-size: 45px;
  }
}

/*# sourceMappingURL=marketBarometerStyle.css.map */
